/* XS */
@media only screen and (max-width: 799px) {
    #login{
        background: url("../images/login-9-16.png") no-repeat center center;
        background-size: cover;
    }
    #login-card{
        width: 65% !important; 
    }
    #registration{
        background: url("../images/registration-9-16.png") no-repeat center center;
        background-size: cover;
    }
    #registration-card{
        width: 70% !important; 
    }
    #kerdoiv{
        background: url("../images/kerdoiv-9-16.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    #kerdoiv-con{
        width: 80% !important;
    }
}
/* S */
@media only screen and (min-width: 800px) and (max-width:767px) {
    #login{
        background: url("../images/login-9-16.png") no-repeat center center;
        background-size: cover;
    }
    #registration{
        background: url("../images/registration-9-16.png") no-repeat center center;
        background-size: cover;
    }
    #kerdoiv{
        background: url("../images/kerdoiv-9-16.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    #kerdoiv-con{
        width: 80% !important;
    }
}
/* M */
@media only screen and (min-width: 768px) and (max-width:991px){
    #login{
        background: url("../images/login-16-9.png") no-repeat center center;
        background-size: cover;
    }
    #registration{
        background: url("../images/registration-16-9.png") no-repeat center center;
        background-size: cover;
    }
    #kerdoiv{
        background: url("../images/kerdoiv-16-9.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
}
/* L */
@media only screen and (min-width: 992px) and (max-width:1449px){
    #login{
        background: url("../images/login-16-9.png") no-repeat center top;
        background-size: cover;
    }
    #login-card{
        width: 40% !important; 
    }
    #registration{
        background: url("../images/registration-16-9.png") no-repeat center top;
        background-size: cover;
    }
    #registration-card{
        width: 40% !important; 
    }
    #kerdoiv{
        background: url("../images/kerdoiv-16-9.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    #kerdoiv-con{
        width: 40% !important;
    }
}
/* XL */
@media only screen and (min-width: 1450px){
    #login{
        background: url("../images/login-16-9.png") no-repeat center top;
        background-size: cover;
        background-color: black;
    }
    #login-card{
        width: 30% !important; 
    }
    #registration{
        background: url("../images/registration-16-9.png") no-repeat center top;
        background-size: cover;
    }
    #registration-card{
        width: 30% !important; 
    }
    #kerdoiv{
        background: url("../images/kerdoiv-16-9.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    #kerdoiv-con{
        width: 30% !important;
    }
}