.card-login{
    background-color: rgba(147, 73, 179, 0.496);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.card-registration{
    background-color: rgba(101, 149, 253, 0.496);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.btn-link{
    color: black !important;
}
hr{
    color: #ffffff;
    border: 1px solid white;
}

/*! Login page */
.btn-link-login:hover{
    color: rgb(208, 164, 250) !important;
}
.login-inputs:focus{
    background-color: rgba(47, 16, 60, 0.496);
    animation: login_input 1.5s infinite;
}
.login-inputs{
    color: rgb(217, 146, 255) !important;
    border: none !important;
    background-color: rgba(51, 20, 67, 0.583);
}
@keyframes login_input {
    0%   { box-shadow: 0 0 10px 2px rgba(100, 0, 200, 0.496); }
    50%  { box-shadow: 0 0 10px 3px rgb(40, 0, 86); }
    100% { box-shadow: 0 0 10px 2px rgba(100, 0, 200, 0.496); }
}
#password-login:disabled{
    background-color: rgba(255, 255, 255, 0.583);
}

/*! Registration page */
.regist-inputs{
    background-color: rgba(68, 126, 252, 0.496);
    color: rgb(159, 255, 183) !important;
}
.regist-inputs:focus{
    background-color: rgba(39, 93, 207, 0.496);
    animation: regist_input 1.5s infinite;
}
.btn-link-regist:hover{
    color: rgb(159, 255, 183) !important;
}
@keyframes regist_input {
    0%   { box-shadow: 0 0 10px 2px rgba(0, 63, 200, 0.496); }
    50%  { box-shadow: 0 0 10px 3px rgb(0, 1, 86); }
    100% { box-shadow: 0 0 10px 2px rgba(0, 63, 200, 0.496); }
}
#password-confirm-regist:disabled{
    background-color: rgba(157, 189, 255, 0.496);
}