html,body{
    background-color: #0b0b10;
    color: #f5f5ff;

}


/* Felső sor ----------------------------*/
#upper-row{
    height: 70px;
    background-color: #0f0f17;
    border-bottom: 1px groove #7c3aed;
    /* animation: FadingBorder 2s infinite; */
}
#main-title{
    animation: ForTitle 1.5s infinite alternate;
}

.button-sample{
    display: flex;
    align-items: center;
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    background-color: #2c203b;
    color: white;
    
}

.button-sample:hover{
    background-color: #7c3aed;
    color: #22192e;
    font-weight: bold;
}

#profile-bubble{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 999px;
}

#profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.185);
}

@keyframes FadingBorder{
    0%{
        border-color: #4c2491;
    }
    20%{
        border-color: #4c2491d2;
    }
    40%{
        border-color: #4c2491a8;
    }
    60%{
        border-color: #4c249177;
    }
    80%{
        border-color: #4c24919f;
    }
    100%{
        border-color: #4c2491da;
    }
}

@keyframes ForTitle{
    from{
        color: #814fd8;
    }
    to{
        color: #814fd87c;
    }
}





/* Navbar rész  ----------------------------*/
#side-nav{
    border: 1px solid rgba(255,255,255,.10);
    height: calc(100vh - 70px);
    background-color: #0f0f17;
}
.nav-item{
    padding: 0;
    border: 2px solid #612eb9;
    border-radius: 12px;
    width: 270px;
    height: 55px;
    color: white;
    
}
.nav-item:hover{
    animation: NavSelection 700ms infinite alternate;
    /* border-left: 10px solid #612eb9;
    border-bottom: 10px solid #612eb9; */
}

.nav-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.nav-link:hover{
    color: white;
}

.selected-navoption{
    background-color: #612eb96c;
    color: white;
}

@keyframes NavSelection{
    
    from{
        background-color: #612eb9;
    }
    to{
        background-color: #612eb900;;
    }
    
}





/* Középső rész */
#middle-part{
    border:1px solid #0b0b10;
}

#stats{
    border: 2px solid rgba(255,255,255,.10);
    height: 40%;
    border-radius: 20px;
    margin: 1px;
    background-color: #0f0f17;
}

#ranglist-calendar{
    height: 60%;
    
}

#ranglist, #calendar{
    border: 2px solid rgba(255,255,255,.10);
    border-radius: 20px;
    background-color: #0f0f17;
}

/* Jobb oldali rész */
#muscle-tracker{
    background-color: #0f0f17;
    border: 2px solid rgba(255,255,255,.10);
    border-radius: 16px;
    margin-bottom: 20px;
    margin-top: 13px;

}


