.profile-main-bubble{
    height: 200px;
    text-align: center;
    margin-left: 100px;
    background-color: #6c6c862a;
    border: 2px solid rgba(255,255,255,.10);
    border-radius: 20px;
}

#profile-picture{
    background-color: white;
    justify-content: center;
    padding: 10px;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}